.container{
    width: 100%;
    height: fit-content;
    Input{
        height: 43px;
    }
}


.valid-for-container{
    display: grid;
    grid-template-columns: 75px 30%;
    align-items: center;
}

.pvq-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
    align-items: center;
    grid-column-gap: 15%;
}

.date-category-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-column-gap: 30px;
}

.ant-picker-range-separator{
    display: none;
}