.wallet-deposit-container{
    height: fit-content;
    width: 100%;
    display: grid;
    margin-block-start: 28px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    // position: relative;
    grid-column-gap: 40px;
    
    .tac{
        position: absolute;
        bottom: -129px;
    }
    
    .deposit-money-modal{
    }

    .payment-method-modal{
        height: fit-content !important;
        width: 100%;
        border-radius: 15px;
        background-color: rgb(19, 19, 80);
    }

    .total-price{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5{
            width: fit-content;
            color: var(--dark-neutral-4);
        }
    }

    // Button{
    //     width: 100%;
    // }

    .sc-gtsrHT{
        background-color: coral;
    }

    .payment-card-detail-container{
        padding: 32px;
        height: 100%;
        width: 100%;
        // background-color: blueviolet;

        .card-details{
            height: 100%;
            width: 100%;
            // background-color: cadetblue;

            Input{
                height: 30px !important;
                width: 100% !important;
            }

            .top-container{
                height: 185px;
                width: 100%;
                background-color: #F8F8F8;
                border-radius: 7px;
                margin-block-end: 32px;
                padding-block-end: 20px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                .top-container-top{
                    height: 40%;
                    // background-color: blueviolet;
                    display: flex;
                    flex-direction: column;
                    padding-block-start: 20px;
                    padding-inline-start: 54px;
                }

                .top-container-bottom{
                    height: 60%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .cvp-container{
                        // position: absolute;
                    }

                    .top-container-bottom-left{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: column;

                        .top-container-bottom-left-checkbox{
                            width: 100%;
                            padding-inline-start: 2%;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            .top-container-bottom-left-checkbox>span{
                                margin-inline-end: none !important;
                            }

                            span{
                                margin-inline-end: 20px;
                            }

                            // Checkbox{
                            //     width: 30%;
                            // }

                            .csp-container{
                                width: 70%;
                                height: fit-content;
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                                background-color: blueviolet;
                            }
                        }

                        .top-containe-bottom-left-card-details{
                            width: 90%;
                            padding-inline-end: 36px;
                            padding-inline-start: 30px;
                        }

                    }
                }

            }
            
            .or-container{
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                h5{
                    width: fit-content;
                    color: var(--dark-neutral-4);
                }
            }

            .expiry-cvv-container{
                display: grid;
                grid-template-columns: 40% auto;
                grid-column-gap: 20px;
            }

        }
        
        

    }



    ////

    .select-bank{
        height: fit-content;
        .bnk-dtl{
            height: fit-content;
            width: 100%;
            
            .bnk-dtl-container{
                height: 106px;
                background-color:var(--light-neutral-4);
                border-radius: 7px;
                display: grid;
                grid-template-columns: 10% auto;
                border: 1px solid var(--primary-1);

                .bnk-dtl-container-left{

                    .bnk-dtl-container-left-align{
                        height: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                    }

                }
                .bnk-dtl-container-right{

                    .bnk-dtl-container-right-details{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

                        div{
                            display: flex;
                            flex-direction: column;
                            padding-block-start: 30px;
                        }

                        div>span{
                            color: #707581;
                            line-height: 10px;
                        }
                    }

                }


            }
            }

        .btn-container{
            margin-block-start: 35px;
            display: flex;
            // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: flex-end;
            align-items: center;
        }
    }
}