.anpa-container{
    padding-inline-start: 10%;
    padding-inline-end: 10%;
    // background-color: blue;
    height: fit-content;

    .anpa-container-content{
        height: fit-content;
        padding-block-start: 16px;
        padding-inline-start: 35px;
        padding-inline-end: 35px;
        margin-block-end: 18px;
        
        .inside-form{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-column-gap: 40px;
            margin-block-end: 25px;
        }

        .inside-form-another{
            display: grid;
            grid-template-columns: auto;
            grid-column-gap: 40px;
            margin-block-end: 25px;
            width: 48%;

            .mobile-number-input{
                display: grid;
                grid-template-columns: auto auto;
                grid-column-gap: 25px;    
            }
        
        }

        .mobile-number-input{
            display: grid;
            grid-template-columns: 20% auto;
            grid-column-gap: 25px;
        }


    }

    .anpa-container-content-bottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-inline-start: 35px;
        padding-inline-end: 35px;

        .anpa-cc-b-t{
            height: 50%;
            margin-block-start: 1px;
        }

        .anpa-cc-b-b{
            height: 50%;
            margin-block-start: 28px;
            margin-block-end: 30px;
            display: flex;
            // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: flex-end;
            align-items: center;
        }
    }

}