.popup-container{
    height: 50vh;
    width: 500px;
    background-color: purple;
}

.title-container{

    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rosybrown;
}

.description-container{
    height: 80%;
    width: 100%;
    background-color: sandybrown;
    flex-direction: column;
    .rating-container{
        height: 20%;


        .div{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

        }
    }
}

.chooseToPay-container{

}

.createPromotions-container{

}