.container{ 

    padding-block-start: 20px;
    padding-inline: 30px;

    .password-input{

        height: 55px;
        border-radius: 6px;
        margin-block-start: 9px;
        margin-block-end: 20px;
    }
}