.container{
    padding-inline-start: 34px;
    padding-block-start:10px;
    margin-block-start: 27px;
    height: fit-content;
    display: flex;

    .left-container{
        width: fit-content;
    }
    
    .right-container{
        display: flex;
        flex-direction: column;

        .sp_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            
            h5, h6{
                width: fit-content;
            }
        }
        
        .align{
            margin-block-start: -7px;
        }
    
        .sss-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr auto;
            margin-block-start: 7px;
        }
        
        .q-container{
            display: flex;
            border-radius: 18px;
            border: 1px solid var(--primary-2);
            justify-content: space-evenly;
            align-items: center;
            width: 100px;
            height: 37px;
            margin-block-start: 7px;
            margin-block-end: 7px;
        
            
            .cb{
                border-inline-start: 1px solid var(--primary-2);
                border-inline-end: 1px solid var(--primary-2);
                padding: 3px;
            }
        }
    }
}
