.mclb-2-setting-list-menus{
    .ant-menu{
        background-color: none;
        background: none;
    }

    .ant-menu-item-selected{
        background-color:transparent !important;
        span, h6{
            color: var(--primary-1) !important;
        }
    }
}