.ant-modal-wrap {
    display: flex;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    .ant-modal {
        float: none;
        margin:auto;
        width: 70% !important;
        top: 0;
        &, .ant-modal-content, .ant-modal-header {
            border-radius: var(--card-border-radius);
            // margin: 12px;
            padding: -10px;
        }
    }
}
.ant-modal-content{
    overflow: hidden;
    border-radius: 14px;
}
.ant-modal-footer {
    padding-block: 0;
}


.ant-modal-wrap{
    .ant-modal-wrap {
        background-color: aqua;
        display: flex;
        border-radius: 15px;
        justify-content: space-evenly;
        align-items: center;
        .ant-modal {
            float: none;
            margin:auto;
            width: 70% !important;
            top: 0;
            &, .ant-modal-content, .ant-modal-header {
                border-radius: var(--card-border-radius);
                // margin: 12px;
                padding: -10px;
            }
        }
    }
}