.card {
    padding-left: 20px;
    padding-right: 20px;
    .card-title, .card-actions {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .card-actions {
        margin-top: 15px;
    }
}

.branch-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.card-details {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 30px 0 0;
    grid-column-gap: 50px;

    .user-info {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        border-right: var(--border-grey-5);
        text-align: center;
        & > *:first-child {
            border-bottom: var(--border-grey-5);
        }
    }

    .user-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    &.address-details {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
    &.branch-meta {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
    &.categories {
        grid-template-columns: 1fr;
    }
}

.service {
    width: 100%;
    border-bottom: var(--border-grey-5);
    padding: 15px 0;
    &:last-child {
        border-bottom: none;
    }
    .packages-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        .package {
            ul {
                margin-top: 10px;
                li {
                    line-height: 15px;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}