.material-icons {
    color: inherit;
    font-size: 14px;
    &.rounded {
        border-radius: 100%;
        width: 14px;
        height: 14px;
        padding: 2px;
        font-size: 10px;

        &.danger {
            color: var(--red-1);
            background-color: var(--red-4);
        }
    }

    &.bordered {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 18px;
        border: 1px solid var(--primary-1);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            background-color: currentColor;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.15;
        }
    }
}