.signup {
    main {
        padding: 20px;
        display: inline-block;
        // justify-content: space-around;
        flex-direction: column;
        grid-template-rows: 44px 1fr;
        .content-wrapper {
            max-width: 754px;
            margin: auto;
            float: none;
        }
    }
}

.login {
    main {
        display: inline-block;
    }
}