.switch-wrapper {
    height: 30px;
    border-radius: 30px;
    background-color: var(--primary-4);
    width: auto;
    padding: 3px;
    border: 1px solid var(--primary-1);
    box-sizing: border-box;
    position: relative;
    float: none;
    label {
        position: relative;
        display: inline-block;
        float: left;
        height: 22px;
        line-height: 22px;
        color: var(--primary-1);
        padding: 0 10px;
        box-sizing: border-box;
        z-index: 99;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
        &.active {
            color: var(--white);
        }
    }
    input {
        position: absolute;
        z-index: -999;
        opacity: 0;
    }
    .bg {
        display: inline-block;
        height: 22px;
        width: 0;
        top: 3px;
        left: 0;
        background-color: var(--primary-1);
        border-radius: 30px;
        position: absolute;
        z-index: 0;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    }
}