.ant-table-wrapper  {
    --border: 2px solid var(--light-neutral-2);
    --row-border: 1px solid var(--light-neutral-3);
    --border-radius: 8px;
    table {
        td, th {
            background-color: var(--white);
            color: var(--dark-neutral-2);
            padding: 16px 13px 18px;
        }
        th {
            font-size: 11px;
            text-transform: uppercase;
            padding-top: 13px;
            &:before {
                display: none;
            }
        }
        td {
            font-size: 14px;
        }
    }
    
    &.multi-level {
        table {
            tr {
                &.ant-table-row-level-0 {
                    td {
                        background-color: var(--light-neutral-3);
                        font-weight: bold;
                    }
                    .ant-checkbox-wrapper, .ant-table-row-expand-icon {
                        display: none;
                    }
                }
                &.ant-table-row-level-1 {
                    td {
                        color: var(--dark-neutral-4);
                        font-weight: bold;
                    }
                }
                .ant-table-row-expand-icon {
                    border-radius: 10px;
                    &:not(:focus, :hover, :active) {
                        border-color: var(--dark-neutral-4);
                    }
                }
            }
            td {
                color: var(--dark-neutral-4)
            }
        }
    }

    &.bordered {
        table {
            td, th {
                &:first-child {
                    border-left: var(--border);
                }
                &:last-child {
                    border-right: var(--border);
                }
                border-bottom: var(--row-border);
            }
            thead {
                tr:first-child {
                    th {
                        border-top: var(--border);
                        &:first-child {
                            border-top-left-radius: var(--border-radius);
                        }
                        &:last-child {
                            border-top-right-radius: var(--border-radius);
                        }
                    }
                }
            }
            tbody {
                tr:last-child {
                    td {
                        border-bottom: var(--border);
                        &:first-child {
                            border-bottom-left-radius: var(--border-radius);
                        }
                        &:last-child {
                            border-bottom-right-radius: var(--border-radius);
                        }
                    }
                }
            }

        }
    }

    &.transaction {
        .ant-table-content {
            border-radius: var(--card-border-radius);
            box-shadow: var(--shadow-3);
            padding: 28px 22px;
        }
        table {
            border-collapse: separate;
            border-spacing: 0 3px;
            thead {
                th {
                    background-color: var(--primary-1);
                    border: none;
                    color: var(--white);
                    font-size: 14px;
                    font-weight: 700;
                    padding: 6px 13px;
                }
            }
            td {
                padding: 9px 13px;
                border-top: var(--border-neutral-3);
                border-bottom: var(--border-neutral-3);
                &:first-child {
                    border-left: var(--border-neutral-3);
                }
                &:last-child {
                    border-right: var(--border-neutral-3);
                }
            }
            tr {
                &:nth-child(even) {
                    td {
                        background-color: var(--light-neutral-4);
                    }
                }
            }
        }
    }

    .table-action-btn {
        border: none;
        background-color: transparent;
        display: inline-block;
        & > .ant-menu-submenu {
            & > .ant-menu-submenu-title {
                position: relative;
                display: inline-block;
                float: left;
                width: 20px;
                height: 40px;
                color: var(--dark-neutral-4);
                transition: all linear 0.3s;
                &:before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 4px;
                    background-color: currentColor;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    box-shadow: 0 -8px 0 currentColor, 0  8px 0 currentColor;
                    transition: inherit;
                }

                &:hover {
                    color: var(--primary-1);
                }

            }
            &:after {
                display: none;
            }
        }
    }
}

.ant-menu-submenu-popup {
    ul.ant-menu {
        display: flex;
        flex-direction: column;
        grid-row-gap: 5px;
        padding: 5px 0;
    }
    .ant-menu-item {
        height: 30px;
        line-height: 30px;
        margin: 0 !important;
        font-size: 14px;
        transition: all linear 0.3s;
        &:not(.primary):not(.secondary):not(.success):not(.danger) {
            color: var(--dark-neutral-4);
            &:hover {
                opacity: 0.7;
            }
        }
        &.ant-menu-item-selected {
            background-color: var(--light-neutral-3) !important;
        }

        &.primary {
            &:hover {
                color: var(--primary-2)
            }
            &.ant-menu-item-selected {
                background-color: var(--primary-4) !important;
            }
        }
        &.secondary {
            &:hover {
                color: var(--secondary-2)
            }
            &.ant-menu-item-selected {
                background-color: var(--secondary-4) !important;
            }
        }
        &.danger {
            &:hover {
                color: var(--red-2)
            }
            &.ant-menu-item-selected {
                background-color: var(--red-4) !important;
            }
        }
        &.success {
            &:hover {
                color: var(--green-2)
            }
            &.ant-menu-item-selected {
                background-color: var(--green-4) !important;
            }
        }

        & > * {
            float: left;
        }
        .ant-menu-item-icon {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.dashboard-mini-table {
    box-shadow: var(--shadow-3);
    border-radius: var(--card-border-radius);
    border: var(--border-neutral-3);
    .ant-table {
        background-color: transparent;
    }
    table {
        th {
            font-weight: bold;
            font-size: 14px;
            text-transform: none;
            &:first-child {
                padding-left: 25px;
            }
        }
        tbody {
            tr {
                td {
                    font-weight: bold;
                    &:first-child {
                        font-weight: normal;
                        padding-left: 25px;
                    }
                }
                &:last-child {
                    td {
                        &:first-child {
                            border-bottom-left-radius: var(--card-border-radius);
                        }
                        &:last-child {
                            border-bottom-right-radius: var(--card-border-radius);
                        }
                    }
                }
            }
        }
    }
}