.map-container {
    position: relative;
    height: 250px;
    margin-block-start: 15px;
    overflow: hidden;
    border: var(--border-neutral-3);
    border-bottom-color: var(--primary-1);
    border-bottom-width: 2px;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.map-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 12px;
    padding: 15px;
    border: var(--border-neutral-3);
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
    border-top: none;
}

.btn-cancel{
    border-radius : 25px;
    background-color : var(--secondary-4);
    border : 1px solid #FFCB4A;
    color : var(--dark-neutral-4);
}

.btn-cancel:hover{
    background-color: none;
}
.btn-auto-rejection{
    border-radius : 25px;
    background-color : var(--red-4);
    border : 1px solid #EB5757;
    color : var(--dark-neutral-4);
}

.btn-rejection{
    border-radius : 25px;
    background-color : var(--red-4);
    border : 1px solid #EB5757;
    color : var(--dark-neutral-4);
}