.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 30px;
    grid-column-gap: 43px;
}

.container-flex{
    width: 50%;
    display: flex;
    align-items: center;
}

.vfc{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 30px;
    align-items: center;
}

.pvq-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 43px;
    grid: 3;
    margin-block-start: 28px;
}